{% extends 'layout.html' %}

{% block title %}Todo Tasks{% endblock %}

{% block content %}
  <h1>Edit Todo Item</h1>
  <form action="/todo/update" method="post">
    <p><input type="hidden" value="{{ todo._id.toString() }}" name="id"></p>
    <p><input type="text" value="{{ todo.name }}" name="name"></p>
    <p><input type="text" value="{{ todo.description }}" name="description"></p>
    <p><input type="hidden" value="{{ todo.created_on.toString() }}" name="created_on"></p>
    <p><input type="submit" value="Update"></p>
  </form>
{% endblock %}
